@charset "UTF-8";
/* body{
	width : 80%;
	margin: 0 auto;
} */

/* sidebar와 section을 감싸는 부분 */
.wrap{
	margin : 0;
	height : 100%;	
	/* background : #99bbff; */
	/* background : #b3ccff; */
	background : #80aaff;
}

/* Remove the navbar's default margin-bottom and rounded borders */
.navbar {
	margin-bottom: 0;
	border-radius: 0;
	border: none;
}

/* Set height of the grid so .sidenav can be 100% (adjust as needed) */
.content {
	height: auto;
	min-height: calc(100vh - 20px);
}

/* Set gray background color and 100% height */
.sidenav {
	padding: 10px 5px;
	margin : 0;
	height: 100%;
}
.sidenav ul{
	margin : 0;
	padding : 0;
}
.sidenav *{
	width: 100%;
	color: white;
}
.sidenav li{
	margin : 5px 0;
	list-style: none;		
	height : 50px;
	line-height : 50px;
	text-align: center;
	font-size: 1.5em;	
	color: white;
}
.sidenav li:hover a, .sidenav li:not(.mailSelect):hover{
	background: white;
	color: 	rgb(0, 60, 179);
	text-decoration : none;
}
.sidenav li button{
	/* background : #002266; */
	background: rgb(0, 60, 179);
	color: white;
	border: none;
	border-radius: 5px;
	font-weight: bold;
}
.sidenav li button:hover{
	background: white;
	color: #002266;
}
.sidenav hr{
	margin: 0;	
}
.sidenav .grayBtn{
	background: lightGray;
	color: #002266;
}

/* 채채 커스텀 */
.mailSelect > select{
	height : 70%;
	color : black;
	font-size: .8em;
	padding: 5px 5px;
}
.mailSelect option{x
    -moz-appearance: none;
	color : black;
	padding-top : 100px;
}

section{
	background : white;
}

/* Set black background color, white text and some padding */
footer {
	background-color: #80aaff;
	color: white;
	padding: 15px;
	bottom: 0;
	width: 100%;
	height: 10%;
}

/* On small screens, set height to 'auto' for sidenav and grid */
@media screen and (max-width: 767px) {
	.sidenav {
		height: auto;
		padding: 15px;
	}
	.content {
		height: auto;
	}
}

.navbar {
	background: #80aaff;
	/* border: 1px solid lightblue; */
}

.navbar-brand {
	padding-left: 20px;
	padding-right: 20px;
	color: white !important;
}

.navbar li {
	padding-left: 20px;
	padding-right: 20px;
}

.navbar-nav>li>a, .dropdown-toggle {
	color: white !important;
	font-weight: bold;
	text-shadow: 0px 0px 1px black;
}

.navbar-toggle {
	border: 1px solid lightblue !important;
}

.navbar-toggle:hover {
	background: lightblue !important;
}

.navbar-toggle:focus {
	background: lightblue !important;
}

.navbar-collapse {
	/* border-top:1px solid white !important; */
	
}

.navbar-inverse .navbar-collapse {
	border-color: white;
}

.dropdown-toggle {
	background: #80aaff !important;
	border: 1px solid #80aaff;
	margin-top: 9px;
}

.dropdown-toggle:hover {
	background: #80aaff !important;
	border: 1px solid #80aaff;
}


/* 테이블 정의 */
.content{
	padding: 20px;
}
.listTable{
	border-collapse: collapse;
	width : 90%;
}
.listTable * {
	text-align: center;
	padding: 8px 20px;
}
.listTable tr{
	border: 3px solid rgba(191, 191, 191, .8);
}
.listTable tr:nth-child(1)/* , 
.listTable tr:nth-child(1):hover */{
	background: rgba(191, 191, 191, .5);
}
.listTable tr *:nth-child(1){
	padding: 5px 10px;
}
.listTable tr:not(:nth-child(1)):hover{
	background : rgba(230, 230, 230, .5);
}
