<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="Approval">
	<resultMap type="com.kh.lgtw.approval.model.vo.SignForm" id="signFormResultSet">
		<id property="signCode" column="SIGN_CODE"/>
		<result property="signName" column="SIGN_NAME"/>
		<result property="signContent" column="SIGN_CONTENT"/>
	</resultMap>
	
	<resultMap type="com.kh.lgtw.approval.model.vo.AppForm" id="appFormResultSet">
		<id property="afNo" column="AF_NO"/>
		<result property="afName" column="AF_NAME"/>
		<result property="afAlias" column="AF_ALIAS"/>
		<result property="afComment" column="AF_COMMENT"/>
		<result property="afDate" column="AF_DATE"/>
		<result property="afContent" column="AF_CONTENT"/>
		<result property="securityCode" column="SECURITY_CODE"/>
		<result property="signCode" column="SIGN_CODE"/>
		<result property="afStatus" column="AF_STATUS"/>
	</resultMap>
	
	<resultMap type="com.kh.lgtw.approval.model.vo.AppForm" id="appFormResultSet2">
		<id property="afNo" column="AF_NO"/>
		<result property="afName" column="AF_NAME"/>
		<result property="afAlias" column="AF_ALIAS"/>
		<result property="afComment" column="AF_COMMENT"/>
		<result property="afDate" column="AF_DATE"/>
		<result property="afContent" column="AF_CONTENT"/>
		<result property="securityCode" column="SECURITY_CODE"/>
		<result property="signCode" column="SIGN_CODE"/>
		<result property="afStatus" column="AF_STATUS"/>
		<result property="signName" column="SIGN_NAME"/>
		<result property="signContent" column="SIGN_CONTENT"/>
	</resultMap>
	
	<resultMap type="com.kh.lgtw.approval.model.vo.Security" id="securityResultSet">
		<id property="securityCode" column="SECURITY_CODE"/>
		<result property="securityGrade" column="SECURITY_GRADE"/>
		<result property="jobCode" column="JOB_CODE"/>
		<result property="jobName" column="JOB_NAME"/>
		<result property="jobLevel" column="JOB_LEVEL"/>
	</resultMap>
	
	<resultMap type="java.util.HashMap" id="jobResultSet">
		<id property="jobCode" column="JOB_CODE"/>
		<result property="jobName" column="JOB_NAME"/>
		<result property="jobLevel" column="JOB_LEVEL"/>
	</resultMap>
	
	<resultMap type="java.util.HashMap" id="writeFormResultSet">
		<id property="afNo" column="AF_NO"/>
		<result property="afName" column="AF_NAME"/>
		<result property="afAlias" column="AF_ALIAS"/>
		<result property="afComment" column="AF_COMMENT"/>
		<result property="afDate" column="AF_DATE"/>
		<result property="afContent" column="AF_CONTENT" jdbcType="CLOB" javaType="java.lang.String"/>
		<result property="afStatus" column="AF_STATUS"/>
		<result property="signCode" column="SIGN_CODE"/>
		<result property="signName" column="SIGN_NAME"/>
		<result property="signContent" column="SIGN_CONTENT" jdbcType="CLOB" javaType="java.lang.String"/>
		<result property="securityCode" column="SECURITY_CODE"/>
		<result property="securityGrade" column="SECURITY_GRADE"/>
		<result property="jobCode" column="JOB_CODE"/>
	</resultMap>
	
	<resultMap type="java.util.HashMap" id="empResultSet">
		<id property="empNo" column="EMPNO"/>
		<result column="EMP_ID" property="empId"/>
		<result column="EMP_NAME" property="empName"/>
	</resultMap>
	
	<resultMap type="java.util.HashMap" id="empResultSet2">
		<id property="empNo" column="EMPNO"/>
		<result column="EMP_ID" property="empId"/>
		<result column="EMP_NAME" property="empName"/>
		<result column="JOB_CODE" property="jobCode"/>
		<result column="JOB_NAME" property="jobName"/>
		<result column="DEPT_CODE" property="deptCode"/>
		<result column="DEPT_NAME" property="deptName"/>
		<result column="MANAGER_EMPNO" property="managerEmpno"/>
	</resultMap>
	
	<resultMap type="java.util.HashMap" id="deptResultSet">
		<id property="deptCode" column="DEPT_CODE"/>
		<result property="deptName" column="DEPT_NAME"/>
		<result property="topDept" column="TOP_DEPT"/>
		<result property="managerEmpno" column="MANAGER_EMPNO"/>
	</resultMap>
	
	<select id="selectSignForm" resultMap="signFormResultSet" parameterType="SignForm">
		SELECT *
		FROM SIGN_FORM
		WHERE SIGN_CODE = #{signCode}
	</select>
	
	<insert id="insertAppForm" parameterType="AppForm">
		INSERT INTO APP_FORM
		VALUES(SEQ_AF_NO.NEXTVAL, #{afName}, #{afAlias}, #{afComment}, #{afDate}, #{afContent}, #{securityCode}, #{signCode}, default)
	</insert>
	
	<select id="selectAppForm" resultMap="appFormResultSet">
		SELECT *
		FROM APP_FORM
		ORDER BY AF_NO DESC
	</select>
	
	<select id="selectAppFormListCount" resultType="_int">
		SELECT COUNT(*)
		FROM APP_FORM
	</select>
	
	<select id="selectOneAppFormDcm" resultMap="appFormResultSet2" parameterType="_int">
		SELECT *
		FROM APP_FORM AF
		JOIN SIGN_FORM SF ON(AF.SIGN_CODE = SF.SIGN_CODE)
		WHERE AF_NO = #{afNo}
	</select>
	
	<delete id="deleteAppForm" parameterType="_int">
			DELETE FROM APP_FORM 
			WHERE AF_NO = #{afNo}
	</delete>
	
	<update id="statusUpdateAppForm" parameterType="java.util.Map">
		<foreach collection="afNoArr" item="afNo" index="index" 
			open="DECLARE BEGIN" separator=";" close=";END;">
			UPDATE APP_FORM
			SET AF_STATUS = #{choice}
			WHERE AF_NO = #{afNo}
		</foreach>
	</update>
	
	<update id="updateAppForm" parameterType="AppForm">
		UPDATE APP_FORM
		SET AF_NAME = #{afName},
			AF_ALIAS = #{afAlias},
			AF_COMMENT = #{afComment},
			AF_DATE = #{afDate},
			AF_CONTENT = #{afContent},
			SECURITY_CODE = #{securityCode},
			SIGN_CODE = #{signCode}
		WHERE AF_NO = #{afNo}
	</update>
	
	<select id="selectSecurity" resultMap="securityResultSet">
		SELECT *
		FROM SECURITY S
		JOIN JOB J ON(S.JOB_CODE = J.JOB_CODE)
	</select>
	
	<select id="selectJob" resultMap="jobResultSet">
		SELECT *
		FROM JOB
	</select>
	
	<update id="updateAgrade" parameterType="java.lang.String">
       	UPDATE SECURITY SET JOB_CODE = #{aGrade} WHERE SECURITY_CODE = 'a'
	</update>
	<update id="updateBgrade" parameterType="java.lang.String">
       	UPDATE SECURITY SET JOB_CODE = #{bGrade} WHERE SECURITY_CODE = 'b'
	</update>
	
	<select id="selectFormList" resultMap="writeFormResultSet">
		SELECT *
		FROM APP_FORM AF
		JOIN SIGN_FORM SF ON(AF.SIGN_CODE = SF.SIGN_CODE)
		JOIN SECURITY S ON(AF.SECURITY_CODE = S.SECURITY_CODE)
		WHERE AF_STATUS = 'Y'
	</select>
	
	<select id="selectWriteForm" resultMap="writeFormResultSet" parameterType="_int">
		SELECT *
		FROM APP_FORM AF
		JOIN SIGN_FORM SF ON(AF.SIGN_CODE = SF.SIGN_CODE)
		JOIN SECURITY S ON(AF.SECURITY_CODE = S.SECURITY_CODE)
		WHERE AF_STATUS = 'Y'
		AND AF_NO = #{afNo}
	</select>
	
	<select id="selectName" resultMap="empResultSet" parameterType="java.lang.String">
		SELECT EMPNO, EMP_NAME, EMP_ID
		FROM EMPLOYEE
		WHERE EMP_NAME LIKE #{value}||'%'
	</select>
	
	<!-- 계층형 부서조회 -->
	<select id="selectDept" resultMap="deptResultSet">
		SELECT *
		FROM DEPT D
		START WITH TOP_DEPT IS NULL
		CONNECT BY TOP_DEPT = PRIOR DEPT_CODE
	</select>
	
	<select id="selectEmp" resultMap="empResultSet2">
		SELECT E.EMPNO, E.EMP_ID, E.EMP_NAME, J.JOB_CODE, J.JOB_NAME, D.DEPT_CODE, D.DEPT_NAME, D.MANAGER_EMPNO
		FROM EMPLOYEE E
		JOIN DEPT_HISTORY DH ON(E.EMPNO = DH.EMPNO)
		JOIN DEPT D ON (D.DEPT_CODE = DH.DEPT_CODE)
		JOIN EMPLOYEE E2 ON (D.MANAGER_EMPNO = E2.EMPNO)
		JOIN PROMOTION_HISTORY PH ON(PH.EMPNO = E.EMPNO)
		JOIN JOB J ON(J.JOB_CODE = PH.JOB_CODE)
		ORDER BY DH.DEPT_CODE, PH.JOB_CODE
	</select>
	
	<select id="selectUnderDept" resultMap="deptResultSet" parameterType="java.lang.String">
		SELECT *
		FROM DEPT
		WHERE TOP_DEPT = #{deptCode}
	</select>
	
	<select id="selectUnderEmp" resultMap="empResultSet2" parameterType="java.lang.String">
		SELECT E.EMPNO, E.EMP_ID, E.EMP_NAME, J.JOB_CODE, J.JOB_NAME, D.DEPT_CODE, D.DEPT_NAME, D.MANAGER_EMPNO
		FROM EMPLOYEE E
		JOIN DEPT_HISTORY DH ON(E.EMPNO = DH.EMPNO)
		JOIN DEPT D ON (D.DEPT_CODE = DH.DEPT_CODE)
		JOIN EMPLOYEE E2 ON (D.MANAGER_EMPNO = E2.EMPNO)
		JOIN PROMOTION_HISTORY PH ON(PH.EMPNO = E.EMPNO)
		JOIN JOB J ON(J.JOB_CODE = PH.JOB_CODE)
		WHERE DH.DEPT_CODE = #{deptCode} 
		OR D.TOP_DEPT = #{deptCode}
		ORDER BY DH.DEPT_CODE, PH.JOB_CODE
	</select>
	
</mapper>  













