<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="Approval">
	<resultMap type="com.kh.lgtw.approval.model.vo.SignForm" id="signFormResultSet">
		<id property="signCode" column="SIGN_CODE"/>
		<result property="signName" column="SIGN_NAME"/>
		<result property="signContent" column="SIGN_CONTENT"/>
	</resultMap>
	
	<resultMap type="com.kh.lgtw.approval.model.vo.AppForm" id="appFormResultSet">
		<id property="afNo" column="AF_NO"/>
		<result property="afName" column="AF_NAME"/>
		<result property="afAlias" column="AF_ALIAS"/>
		<result property="afComment" column="AF_COMMENT"/>
		<result property="afDate" column="AF_DATE"/>
		<result property="afContent" column="AF_CONTENT"/>
		<result property="securityCode" column="SECURITY_CODE"/>
		<result property="signCode" column="SIGN_CODE"/>
		<result property="afStatus" column="AF_STATUS"/>
	</resultMap>
	
	<resultMap type="com.kh.lgtw.approval.model.vo.AppForm" id="appFormResultSet2">
		<id property="afNo" column="AF_NO"/>
		<result property="afName" column="AF_NAME"/>
		<result property="afAlias" column="AF_ALIAS"/>
		<result property="afComment" column="AF_COMMENT"/>
		<result property="afDate" column="AF_DATE"/>
		<result property="afContent" column="AF_CONTENT"/>
		<result property="securityCode" column="SECURITY_CODE"/>
		<result property="signCode" column="SIGN_CODE"/>
		<result property="afStatus" column="AF_STATUS"/>
		<result property="signName" column="SIGN_NAME"/>
		<result property="signContent" column="SIGN_CONTENT"/>
	</resultMap>
	
	<resultMap type="com.kh.lgtw.approval.model.vo.Security" id="securityResultSet">
		<id property="securityCode" column="SECURITY_CODE"/>
		<result property="securityGrade" column="SECURITY_GRADE"/>
		<result property="jobCode" column="JOB_CODE"/>
		<result property="jobName" column="JOB_NAME"/>
		<result property="jobLevel" column="JOB_LEVEL"/>
	</resultMap>
	
	<resultMap type="java.util.HashMap" id="jobResultSet">
		<id property="jobCode" column="JOB_CODE"/>
		<result property="jobName" column="JOB_NAME"/>
		<result property="jobLevel" column="JOB_LEVEL"/>
	</resultMap>
	
	<resultMap type="java.util.HashMap" id="writeFormResultSet">
		<id property="afNo" column="AF_NO"/>
		<result property="afName" column="AF_NAME"/>
		<result property="afAlias" column="AF_ALIAS"/>
		<result property="afComment" column="AF_COMMENT"/>
		<result property="afDate" column="AF_DATE"/>
		<result property="afContent" column="AF_CONTENT" jdbcType="CLOB" javaType="java.lang.String"/>
		<result property="afStatus" column="AF_STATUS"/>
		<result property="signCode" column="SIGN_CODE"/>
		<result property="signName" column="SIGN_NAME"/>
		<result property="signContent" column="SIGN_CONTENT" jdbcType="CLOB" javaType="java.lang.String"/>
		<result property="securityCode" column="SECURITY_CODE"/>
		<result property="securityGrade" column="SECURITY_GRADE"/>
		<result property="jobCode" column="JOB_CODE"/>
	</resultMap>
	
	<resultMap type="java.util.HashMap" id="empResultSet">
		<id property="empNo" column="EMPNO"/>
		<result column="EMP_ID" property="empId"/>
		<result column="EMP_NAME" property="empName"/>
	</resultMap>
	
	<resultMap type="java.util.HashMap" id="empResultSet2">
		<id property="empNo" column="EMPNO"/>
		<result column="EMP_ID" property="empId"/>
		<result column="EMP_NAME" property="empName"/>
		<result column="JOB_CODE" property="jobCode"/>
		<result column="JOB_NAME" property="jobName"/>
		<result column="DEPT_CODE" property="deptCode"/>
		<result column="DEPT_NAME" property="deptName"/>
		<result column="MANAGER_EMPNO" property="managerEmpno"/>
	</resultMap>
	
	<resultMap type="java.util.HashMap" id="deptResultSet">
		<id property="deptCode" column="DEPT_CODE"/>
		<result property="deptName" column="DEPT_NAME"/>
		<result property="topDept" column="TOP_DEPT"/>
		<result property="managerEmpno" column="MANAGER_EMPNO"/>
		<result property="stat" column="STAT"/>
	</resultMap>
	
	<resultMap type="java.util.HashMap" id="appDocument">
		<id property="alNo" column="AL_NO"/>
		<result property="alDate" column="AL_DATE"/>
		<result property="alRoll" column="AL_ROLL"/>
		<result property="alEmpNo" column="AL_EMPNO"/>
		<result property="adNo" column="AD_NO"/>
		<result property="alLevel" column="AL_LEVEL"/>
		<result property="adWriter" column="AD_WRITER"/>
		<result property="adTitle" column="AD_TITLE"/>
		<result property="adContent" column="AD_CONTENT"/>
		<result property="adStartDate" column="AD_START_DATE"/>
		<result property="adEndDate" column="AD_END_DATE"/>
		<result property="adStatus" column="AD_STATUS"/>
		<result property="adLevel" column="AD_LEVEL"/>
		<result property="adWriterName" column="EMP_NAME"/>
		<result property="afName" column="AF_NAME"/>
		<result property="securityCode" column="SECURITY_CODE"/>
		<result property="adStatus" column="AD_STATUS"/>
	</resultMap>
	
	<resultMap type="java.util.HashMap" id="appList">
		<id property="alNo" column="AL_NO"/>
		<result property="alDate" column="AL_DATE"/>
		<result property="alRoll" column="AL_ROLL"/>
		<result property="alEmpNo" column="AL_EMPNO"/>
		<result property="alLevel" column="AL_LEVEL"/>
		<result property="jobName" column="JOB_NAME"/>
		<result property="alStatus" column="AL_STATUS"/>
		<result property="approvaler" column="APPROVALER"/>
	</resultMap>
	
	<resultMap type="java.util.HashMap" id="appDocument2">
		<id property="adNo" column="AD_NO"/>
		<result property="adWriter" column="AD_WRITER"/>
		<result property="adTitle" column="AD_TITLE"/>
		<result property="adContent" column="AD_CONTENT" javaType="java.lang.String"/>
		<result property="adStartDate" column="AD_START_DATE"/>
		<result property="adEndDate" column="AD_END_DATE"/>
		<result property="adStatus" column="AD_STATUS"/>
		<result property="adWriterName" column="AD_DCM_WRITER"/>
		<result property="afName" column="AF_NAME"/>
		<result property="securityCode" column="SECURITY_CODE"/>
		<result property="afDate" column="AF_DATE"/>
		<result property="adLevel" column="AD_LEVEL"/>
		<result property="deptCode" column="DEPT_CODE"/>
		<result property="deptName" column="DEPT_NAME"/>
		<result property="adStatus" column="AD_STATUS"/>
		<result property="signCode" column="SIGN_CODE"/>
		<result property="signContent" column="SIGN_CONTENT" javaType="java.lang.String"/>
		<collection property="appList" javaType="java.util.ArrayList" resultMap="appList"/>
	</resultMap>
	
	<select id="selectSignForm" resultMap="signFormResultSet" parameterType="SignForm">
		SELECT *
		FROM SIGN_FORM
		WHERE SIGN_CODE = #{signCode}
	</select>
	
	<insert id="insertAppForm" parameterType="AppForm">
		INSERT INTO APP_FORM
		VALUES(SEQ_AF_NO.NEXTVAL, #{afName}, #{afAlias}, #{afComment}, #{afDate}, #{afContent}, #{securityCode}, #{signCode}, default)
	</insert>
	
	<select id="selectAppForm" resultMap="appFormResultSet">
		SELECT *
		FROM APP_FORM
		ORDER BY AF_NO DESC
	</select>
	
	<select id="selectAppFormListCount" resultType="_int">
		SELECT COUNT(*)
		FROM APP_FORM
	</select>
	
	<select id="selectOneAppFormDcm" resultMap="appFormResultSet2" parameterType="_int">
		SELECT *
		FROM APP_FORM AF
		JOIN SIGN_FORM SF ON(AF.SIGN_CODE = SF.SIGN_CODE)
		WHERE AF_NO = #{afNo}
	</select>
	
	<delete id="deleteAppForm" parameterType="_int">
			DELETE FROM APP_FORM 
			WHERE AF_NO = #{afNo}
	</delete>
	
	<update id="statusUpdateAppForm" parameterType="java.util.Map">
		<foreach collection="afNoArr" item="afNo" index="index" 
			open="DECLARE BEGIN" separator=";" close=";END;">
			UPDATE APP_FORM
			SET AF_STATUS = #{choice}
			WHERE AF_NO = #{afNo}
		</foreach>
	</update>
	
	<update id="updateAppForm" parameterType="AppForm">
		UPDATE APP_FORM
		SET AF_NAME = #{afName},
			AF_ALIAS = #{afAlias},
			AF_COMMENT = #{afComment},
			AF_DATE = #{afDate},
			AF_CONTENT = #{afContent},
			SECURITY_CODE = #{securityCode},
			SIGN_CODE = #{signCode}
		WHERE AF_NO = #{afNo}
	</update>
	
	<select id="selectSecurity" resultMap="securityResultSet">
		SELECT *
		FROM SECURITY S
		JOIN JOB J ON(S.JOB_CODE = J.JOB_CODE)
	</select>
	
	<select id="selectJob" resultMap="jobResultSet">
		SELECT *
		FROM JOB
	</select>
	
	<update id="updateAgrade" parameterType="java.lang.String">
       	UPDATE SECURITY SET JOB_CODE = #{aGrade} WHERE SECURITY_CODE = 'a'
	</update>
	<update id="updateBgrade" parameterType="java.lang.String">
       	UPDATE SECURITY SET JOB_CODE = #{bGrade} WHERE SECURITY_CODE = 'b'
	</update>
	
	<select id="selectFormList" resultMap="writeFormResultSet">
		SELECT *
		FROM APP_FORM AF
		JOIN SIGN_FORM SF ON(AF.SIGN_CODE = SF.SIGN_CODE)
		JOIN SECURITY S ON(AF.SECURITY_CODE = S.SECURITY_CODE)
		WHERE AF_STATUS = 'Y'
	</select>
	
	<select id="selectWriteForm" resultMap="writeFormResultSet" parameterType="_int">
		SELECT *
		FROM APP_FORM AF
		JOIN SIGN_FORM SF ON(AF.SIGN_CODE = SF.SIGN_CODE)
		JOIN SECURITY S ON(AF.SECURITY_CODE = S.SECURITY_CODE)
		WHERE AF_STATUS = 'Y'
		AND AF_NO = #{afNo}
	</select>
	
	<select id="selectName" resultMap="empResultSet2" parameterType="java.lang.String">
		SELECT E.EMPNO, E.EMP_ID, E.EMP_NAME, J.JOB_CODE, J.JOB_NAME, D.DEPT_CODE, D.DEPT_NAME, D.MANAGER_EMPNO
		FROM EMPLOYEE E
		JOIN DEPT_HISTORY DH ON(E.EMPNO = DH.EMPNO)
		JOIN DEPT D ON (D.DEPT_CODE = DH.DEPT_CODE)
		LEFT JOIN EMPLOYEE E2 ON (D.MANAGER_EMPNO = E2.EMPNO)
		JOIN PROMOTION_HISTORY PH ON(PH.EMPNO = E.EMPNO)
		JOIN JOB J ON(J.JOB_CODE = PH.JOB_CODE)
		WHERE E.EMP_NAME LIKE #{value}||'%'
	</select>
	
	<!-- 하위부서 유무 부서조회 -->
	<select id="selectDept" resultMap="deptResultSet">
		SELECT DEPT_CODE, DEPT_NAME, TOP_DEPT, MANAGER_EMPNO,
      				 CASE WHEN 0 >= (SELECT COUNT(D.DEPT_CODE)
                        FROM DEPT D1
                        JOIN DEPT D2 ON (D1.DEPT_CODE = D2.TOP_DEPT)
                        WHERE D1.DEPT_CODE = D.DEPT_CODE) THEN 'N'
                        ELSE 'Y'
                        END as STAT
		FROM DEPT D
	</select>
	
	<select id="selectEmp" resultMap="empResultSet2">
		SELECT E.EMPNO, E.EMP_ID, E.EMP_NAME, J.JOB_CODE, J.JOB_NAME, D.DEPT_CODE, D.DEPT_NAME, D.MANAGER_EMPNO
		FROM EMPLOYEE E
		JOIN DEPT_HISTORY DH ON(E.EMPNO = DH.EMPNO)
		JOIN DEPT D ON (D.DEPT_CODE = DH.DEPT_CODE)
		LEFT JOIN EMPLOYEE E2 ON (D.MANAGER_EMPNO = E2.EMPNO)
		JOIN PROMOTION_HISTORY PH ON(PH.EMPNO = E.EMPNO)
		JOIN JOB J ON(J.JOB_CODE = PH.JOB_CODE)
		ORDER BY DH.DEPT_CODE, PH.JOB_CODE
	</select>
	
	<select id="selectUnderDept" resultMap="deptResultSet" parameterType="java.lang.String">
		SELECT DEPT_CODE, DEPT_NAME, TOP_DEPT, MANAGER_EMPNO,
      				 CASE WHEN 0 >= (SELECT COUNT(D.DEPT_CODE)
                        FROM DEPT D1
                        JOIN DEPT D2 ON (D1.DEPT_CODE = D2.TOP_DEPT)
                        WHERE D1.DEPT_CODE = D.DEPT_CODE) THEN 'N'
                        ELSE 'Y'
                        END as STAT
		FROM DEPT D
		WHERE TOP_DEPT = #{deptCode}
	</select>
	
	<select id="selectUnderEmp" resultMap="empResultSet2" parameterType="java.lang.String">
		SELECT E.EMPNO, E.EMP_ID, E.EMP_NAME, J.JOB_CODE, J.JOB_NAME, D.DEPT_CODE, D.DEPT_NAME, D.MANAGER_EMPNO
		FROM EMPLOYEE E
		JOIN DEPT_HISTORY DH ON(E.EMPNO = DH.EMPNO)
		JOIN DEPT D ON (D.DEPT_CODE = DH.DEPT_CODE)
		LEFT JOIN EMPLOYEE E2 ON (D.MANAGER_EMPNO = E2.EMPNO)
		JOIN PROMOTION_HISTORY PH ON(PH.EMPNO = E.EMPNO)
		JOIN JOB J ON(J.JOB_CODE = PH.JOB_CODE)
		WHERE DH.DEPT_CODE = #{deptCode} 
		OR D.TOP_DEPT = #{deptCode}
		ORDER BY DH.DEPT_CODE, PH.JOB_CODE
	</select>
	
	<insert id="writeApproval" parameterType="AppDocument">
		INSERT INTO APP_DOCUMENT
		VALUES(SEQ_AD_NO.NEXTVAL, #{adWriter}, #{adTitle}, #{adContent}, SYSDATE, NULL, #{afNo}, '대기', '1')
	</insert>
	
	<insert id="insertApprovalList" parameterType="java.util.HashMap">
		<selectKey resultType="string" keyProperty="appDcmId" order="BEFORE">
			SELECT SEQ_AD_NO.CURRVAL FROM DUAL
		</selectKey>
		INSERT INTO APPROVAL_LIST
		VALUES(SEQ_AL_NO.NEXTVAL, NULL, #{alRoll}, #{alEmpno}, '대기', #{appDcmId}, #{alLevel})
	</insert> 
	
	<select id="selectWaitCircleDcmList" parameterType="_int" resultType="_int">
		SELECT COUNT(*)
		FROM APPROVAL_LIST
		WHERE AL_EMPNO = #{empNo}
	</select>
	
	<select id="showWaitCirculationDcm" parameterType="PageInfo" resultMap="appDocument">
		SELECT *
		FROM APPROVAL_LIST AL
		JOIN APP_DOCUMENT AD ON (AL.AD_NO = AD.AD_NO)
		JOIN EMPLOYEE E ON(AD.AD_WRITER = E.EMPNO)
		JOIN APP_FORM AF ON (AD.AF_NO = AF.AF_NO)
		JOIN SIGN_FORM SF ON (AF.SIGN_CODE = SF.SIGN_CODE)
		WHERE AL_EMPNO = #{empNo}
		AND AL_STATUS = '대기'
		AND AD_STATUS = '대기'
		<if test="sfCode == 'circle'">
		AND SF.SIGN_CODE = 'circle'
		</if>
	</select>
	
	<select id="detailDcm" parameterType="java.lang.String" resultMap="appDocument2">
		SELECT AD.*, AF.*, SF.*, E.EMP_NAME AS AD_DCM_WRITER, D.DEPT_NAME, E2.EMP_NAME AS APPROVALER, J.JOB_NAME ,AL.*
		FROM APP_DOCUMENT AD
		JOIN APPROVAL_LIST AL ON (AL.AD_NO = AD.AD_NO)
		JOIN EMPLOYEE E2 ON (AL.AL_EMPNO = E2.EMPNO)
		JOIN EMPLOYEE E ON(AD.AD_WRITER = E.EMPNO)
		LEFT JOIN DEPT_HISTORY DH ON(E.EMPNO = DH.EMPNO)
		LEFT JOIN DEPT D ON (D.DEPT_CODE = DH.DEPT_CODE)
        LEFT JOIN PROMOTION_HISTORY PH ON (PH.EMPNO = E2.EMPNO)
        LEFT JOIN JOB J ON(J.JOB_CODE = PH.JOB_CODE)
		JOIN APP_FORM AF ON (AD.AF_NO = AF.AF_NO)
		JOIN SIGN_FORM SF ON (AF.SIGN_CODE = SF.SIGN_CODE)
		WHERE AD.AD_NO = #{adNo}
		ORDER BY AL_ROLL, AL_LEVEL
	</select>
	
	<select id="selectApprovalList" parameterType="java.util.HashMap" resultMap="appList">
		SELECT E2.EMP_NAME AS APPROVALER, J.JOB_NAME ,AL.*
		FROM APP_DOCUMENT AD
		JOIN APPROVAL_LIST AL ON (AL.AD_NO = AD.AD_NO)
		JOIN EMPLOYEE E2 ON (AL.AL_EMPNO = E2.EMPNO)
		JOIN EMPLOYEE E ON(AD.AD_WRITER = E.EMPNO)
		LEFT JOIN DEPT_HISTORY DH ON(E.EMPNO = DH.EMPNO)
		LEFT JOIN DEPT D ON (D.DEPT_CODE = DH.DEPT_CODE)
        LEFT JOIN PROMOTION_HISTORY PH ON (PH.EMPNO = E2.EMPNO)
        LEFT JOIN JOB J ON(J.JOB_CODE = PH.JOB_CODE)
		JOIN APP_FORM AF ON (AD.AF_NO = AF.AF_NO)
		JOIN SIGN_FORM SF ON (AF.SIGN_CODE = SF.SIGN_CODE)
		WHERE AD.AD_NO = #{adNo}
		<if test="type == '결재'">
			AND AL_ROLL = '결재자'
		</if>
		<if test="type == '합의'">
			AND AL_ROLL = '합의자'
		</if>
		<if test="type == '참조'">
			AND AL_ROLL = '참조자'
		</if>
		<if test="type == '신청'">
			AND AL_ROLL = '신청자'
		</if>
		<if test="type == '처리'">
			AND AL_ROLL = '처리자'
		</if>
		<if test="type == '회람'">
			AND AL_ROLL = '회람자'
		</if>
		<if test="type == '수신'">
			AND AL_ROLL = '수신자'
		</if>
		<if test="type == '재무합의'">
			AND AL_ROLL = '재무합의자'
		</if>
		ORDER BY AL_LEVEL
	</select>
	
	<select id="selectWaitDcm" parameterType="_int" resultType="_int">
		SELECT COUNT(*)
		FROM APPROVAL_LIST AL
		JOIN APP_DOCUMENT AD ON (AL.AD_NO = AD.AD_NO)
		JOIN EMPLOYEE E ON(AD.AD_WRITER = E.EMPNO)
		JOIN APP_FORM AF ON (AD.AF_NO = AF.AF_NO)
		JOIN SIGN_FORM SF ON (AF.SIGN_CODE = SF.SIGN_CODE)
		WHERE AL_EMPNO = #{empNo}
		AND AL_STATUS = '대기'
		AND AD_STATUS = '대기'
		AND (AL_ROLL = '합의자' OR AL_ROLL = '결재자' OR AL_ROLL = '재무합의자' OR AL_ROLL = '수신자' OR AL_ROLL = '신청자')
		AND AD_LEVEL = AL_LEVEL
	</select>
	
	<select id="showWaitDcm" resultMap="appDocument" parameterType="PageInfo">
		SELECT *
		FROM APPROVAL_LIST AL
		JOIN APP_DOCUMENT AD ON (AL.AD_NO = AD.AD_NO)
		JOIN EMPLOYEE E ON(AD.AD_WRITER = E.EMPNO)
		JOIN APP_FORM AF ON (AD.AF_NO = AF.AF_NO)
		JOIN SIGN_FORM SF ON (AF.SIGN_CODE = SF.SIGN_CODE)
		WHERE AL_EMPNO = #{empNo}
		AND AL_STATUS = '대기'
		AND AD_STATUS = '대기'
		AND (AL_ROLL = '합의자' OR AL_ROLL = '결재자' OR AL_ROLL = '재무합의자' OR AL_ROLL = '수신자' OR AL_ROLL = '신청자')
		AND AD_LEVEL = AL_LEVEL
	</select>
	
	<select id="selectIntendedDcm" parameterType="_int" resultType="_int">
		<![CDATA[
		SELECT COUNT(*)
		FROM APPROVAL_LIST AL
		JOIN APP_DOCUMENT AD ON (AL.AD_NO = AD.AD_NO)
		JOIN EMPLOYEE E ON(AD.AD_WRITER = E.EMPNO)
		JOIN APP_FORM AF ON (AD.AF_NO = AF.AF_NO)
		JOIN SIGN_FORM SF ON (AF.SIGN_CODE = SF.SIGN_CODE)
		WHERE AL_EMPNO = #{empNo}
		AND AL_STATUS = '대기'
		AND AD_STATUS = '대기'
		AND (AL_ROLL = '합의자' OR AL_ROLL = '결재자' OR AL_ROLL = '재무합의자' OR AL_ROLL = '수신자' OR AL_ROLL = '신청자')
		AND	AD_LEVEL < AL_LEVEL
		]]>
	</select>
	
	<select id="showIntendedDcm" resultMap="appDocument" parameterType="PageInfo">
		<![CDATA[
		SELECT *
		FROM APPROVAL_LIST AL
		JOIN APP_DOCUMENT AD ON (AL.AD_NO = AD.AD_NO)
		JOIN EMPLOYEE E ON(AD.AD_WRITER = E.EMPNO)
		JOIN APP_FORM AF ON (AD.AF_NO = AF.AF_NO)
		JOIN SIGN_FORM SF ON (AF.SIGN_CODE = SF.SIGN_CODE)
		WHERE AL_EMPNO = #{empNo}
		AND AL_STATUS = '대기'
		AND AD_STATUS = '대기'
		AND (AL_ROLL = '합의자' OR AL_ROLL = '결재자' OR AL_ROLL = '재무합의자' OR AL_ROLL = '수신자' OR AL_ROLL = '신청자')
		AND	AD_LEVEL < AL_LEVEL
		]]>
	</select>
	
	<update id="confirmDcm" parameterType="java.util.HashMap">
		UPDATE APPROVAL_LIST SET AL_STATUS = '결재' WHERE AL_EMPNO = #{empNo} AND AD_NO = #{adNo}
	</update>
	
	<select id="showFinDcm" parameterType="PageInfo" resultMap="appDocument">
		SELECT *
		FROM APPROVAL_LIST AL
		JOIN APP_DOCUMENT AD ON (AL.AD_NO = AD.AD_NO)
		JOIN EMPLOYEE E ON(AD.AD_WRITER = E.EMPNO)
		JOIN APP_FORM AF ON (AD.AF_NO = AF.AF_NO)
		JOIN SIGN_FORM SF ON (AF.SIGN_CODE = SF.SIGN_CODE)
		WHERE AL_EMPNO = #{empNo}
		<if test="sort == 'circle'">
			AND SF.SIGN_CODE = 'circle'
			AND AL_STATUS = '결재'
		</if>
	</select>
	
	<select id="selectCircleDcm" parameterType="_int" resultType="_int">
		SELECT COUNT(*)
		FROM APPROVAL_LIST AL
		JOIN APP_DOCUMENT AD ON (AL.AD_NO = AD.AD_NO)
		JOIN EMPLOYEE E ON(AD.AD_WRITER = E.EMPNO)
		JOIN APP_FORM AF ON (AD.AF_NO = AF.AF_NO)
		JOIN SIGN_FORM SF ON (AF.SIGN_CODE = SF.SIGN_CODE)
		WHERE AL_EMPNO = #{empNo}
		<if test="sort == 'circle'">
			AND SF.SIGN_CODE = 'circle'
			AND AL_STATUS = '결재'
		</if>
	</select>
	
</mapper>  













