<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="Community">
	<!-- <resultMap id="내가쓸 이름" type="vo풀네임">
		<id column="" property="PK"/>
		<result column="" property="필드 명"/>
	</resultMap>
	
	쿼리문 작성
	<select id="구분이름" parameterType="매개변수 타입"> </select> -->
	
	<!--게시판  컬럼 리스트 	 -->
	<resultMap id="communityResultSet" type="com.kh.lgtw.community.model.vo.Community">
		<id column="BNO" property="bno"/>
		<result column="BOARD_NAME" property="boardName"/>
		<result column="CREATE_USER" property="createUser"/>
		<result column="CREATE_DATE" property="createDate"/>
		<result column="BOARD_AUTHORITY" property="boardAuthority"/>
		<result column="STAUS" property="status"/>
		<result column="BOARD_TYPE" property="boardType"/>
		<result column="EMP_NAME" property="createUserName"/>
	</resultMap>
	
	<!--게시글 컬럼 리스트 	 -->
	<resultMap id="communityPostResultSet" type="com.kh.lgtw.community.model.vo.CommunityPost">
		<id column="CONTENT_NO" property="contentNO"/>
		<result column="BNO" property="bno"/>
		<result column="BWRITER"  property="bwriter"/>
		<result column="BTITLE" property="btitle"/>
		<result column="BCONTENT" property="bcontent"/>
		<result column="CREATE_DATE" property="createDate"/>
		<result column="MODIFY_DATE" property="modifyDate"/>
		<result column="BCOUNT" property="bcount"/>
		<result column="BTYPE" property="btype"/>
		<result column="STATUS" property="status"/>
		<result column="EMP_NAME" property="createUserName"/>
	</resultMap>
	
<!--게시판 조회 쿼리문 	 -->	
	<select id="selectCommunityList" resultMap="communityResultSet">
		SELECT B.BNO , B.BOARD_NAME , E.EMP_NAME , B.CREATE_DATE
		FROM BOARD B
		JOIN EMPLOYEE E ON (B.CREATE_USER = E.EMPNO)           
		
	</select> 
	
	
	
	
	
	
<!--게시글 리스트 조회 쿼리문	 -->
	<select id="selectPostList" resultMap="communityPostResultSet" parameterType="_int">
	    SELECT C.CONTENT_NO ,C.BTITLE , E.EMP_NAME, C.CREATE_DATE 
		FROM BOARD B
		JOIN CONTENT C ON (B.BNO = C.BNO)
		JOIN EMPLOYEE E ON (C.BWRITER = E.EMPNO)
		WHERE B.BNO = #{bno}
		AND C.STATUS= 'N'
		
	
	</select>
	
<!--게시글 상세 조회 쿼리문 --> 

	<select id="selectPostDetails" resultMap="communityPostResultSet" parameterType="_int">
		SELECT C.CONTENT_NO ,C.BTITLE , C.BCONTENT 
		FROM BOARD B
		JOIN CONTENT C ON (B.BNO = C.BNO)
		WHERE C.CONTENT_NO= #{contentNO}
	
	
	
	</select>
	
	
<!-- 임시 저장 글 리스트 조회 쿼리문 	 -->
		<select id="SelectTemporaryList" resultMap="communityPostResultSet">
			  SELECT C.CONTENT_NO ,C.BTITLE , E.EMP_NAME, C.CREATE_DATE 
			  FROM BOARD B
			  JOIN CONTENT C ON (B.BNO = C.BNO)
		 	  JOIN EMPLOYEE E ON (C.BWRITER = E.EMPNO)
			  WHERE C.STATUS= 'T'
			
		
		</select> 
		
		
<!-- 게시판 생성 쿼리 문 -->
  	   <insert id="InsertCommunity" parameterType="Community"> 
		          INSERT INTO BOARD 
				  VALUES(SEQ_BNO.NEXTVAL,#{boardName},#{createUser},SYSDATE,NULL,'N',#{boardType})  	   
  	   	
  	   </insert>	
	

</mapper>
