<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="Employee">
	<resultMap id="employeeResultSet" type="com.kh.lgtw.employee.model.vo.Employee">
		<id column="EMPNO" property="empNo"/>
		<result column="EMP_ID" property="empId"/>
		<result column="EMP_PWD" property="empPwd"/>
		<result column="EMP_NAME" property="empName"/>
		<result column="BIRTH" property="empBirth" />
		<result column="GENDER" property="gender"/>
		<result column="EMP_PHONE" property="empPhone"/>
		<result column="OFFICE_TEL" property="officeTel"/>
		<result column="ADDRESS" property="address"/>
		<result column="EMAIL" property="email"/>
		<result column="MANAGER_TYPE" property="managerType"/>
		<result column="STATUS" property="status"/>
		<result column="ENROLL_DATE" property="enrollDate"/>
		<result column="RETIREMENT_DATE" property="retirementDate"/>
		<result column="OTHER_INFO" property="otherInfo"/>
		<result column="PERSONAL_INFO_CHECK" property="personalInfoCheck"/>
		<result column="REF_EMPNO" property="refEmpNo"/>
		<result column="LSTART_DATE" property="lstartDate"/>
		<result column="LEND_DATE" property="lendDate"/>
		<result column="LEAVE_TERM" property="leaveTerm"/>
		<result column="LEAVE_REASON" property="leaveReason"/>
		<result column="RETIREMENT_REASON" property="retirementReason"/>
		<result column="LEAVE_TYPE" property="leaveType"/>
	</resultMap>
	
	<resultMap id="deptResult" type="com.kh.lgtw.employee.model.vo.DeptVo">
		<id column="DEPT_CODE" property="deptCode"/>
		<result column="DEPT_NAME" property="deptName"/>
		<result column="TOP_DEPT" property="topDept"/>
		<result column="MANAGER_EMPNO" property="managerEmpNo"/>
	</resultMap>
	
	
	<resultMap id="empListResult" type="com.kh.lgtw.employee.model.vo.EmployeeResult">
		<id column="EMPNO" property="empNo"/>
		<result column="EMP_ID" property="empId"/>
		<result column="EMP_PWD" property="empPwd"/>
		<result column="EMP_NAME" property="empName"/>
		<result column="BIRTH" property="empBirth" />
		<result column="GENDER" property="gender"/>
		<result column="EMP_PHONE" property="empPhone"/>
		<result column="OFFICE_TEL" property="officeTel"/>
		<result column="ADDRESS" property="address"/>
		<result column="EMAIL" property="email"/>
		<result column="MANAGER_TYPE" property="managerType"/>
		<result column="STATUS" property="status"/>
		<result column="ENROLL_DATE" property="enrollDate"/>
		<result column="RETIREMENT_DATE" property="retirementDate"/>
		<result column="OTHER_INFO" property="otherInfo"/>
		<result column="PERSONAL_INFO_CHECK" property="personalInfoCheck"/>
		<result column="REF_EMPNO" property="refEmpNo"/>
		<result column="LSTART_DATE" property="lstartDate"/>
		<result column="LEND_DATE" property="lendDate"/>
		<result column="LEAVE_TERM" property="leaveTerm"/>
		<result column="LEAVE_REASON" property="leaveReason"/>
		<result column="RETIREMENT_REASON" property="retirementReason"/>
		<result column="LEAVE_TYPE" property="leaveType"/>
		<result column="DEPT_CODE" property="deptCode"/>
		<result column="DEPT_NAME" property="deptName"/>
		<result column="TOP_DEPT" property="topDept"/>
		<result column="JOB_CODE" property="jobCode"/>
		<result column="JOB_NAME" property="jobName"/>
		<result column="JOB_LEVEL" property="jobLevel"/>
	</resultMap>
	
	<resultMap id="jobList" type="com.kh.lgtw.employee.model.vo.JobVo">
		<id column="JOB_CODE" property="jobCode"/>
		<result column="JOB_NAME" property="jobName"/>
		<result column="JOB_LEVEL" property="jobLevel"/>
	</resultMap>
	
	<!-- 로그인시 사원 객체 조회 -->
	<select id="loginCheck" resultMap="employeeResultSet" parameterType="Employee">
		SELECT *
		FROM EMPLOYEE
		WHERE STATUS = 'Y' 
		AND EMP_ID = #{empId}
	</select>
	
	<!-- id, pw 확인 -->
	<select id="selectEncPassword" resultType="java.lang.String" parameterType="Employee">
		SELECT EMP_PWD
		FROM EMPLOYEE
		WHERE EMP_ID = #{empId}
	</select>
	
	<insert id="insertEmpOne" parameterType="Employee">
		INSERT INTO EMPLOYEE(EMPNO, EMP_ID, EMP_PWD, EMP_NAME, BIRTH, GENDER, 
							EMP_PHONE, OFFICE_TEL, ADDRESS, EMAIL, STATUS, ENROLL_DATE, OTHER_INFO, PERSONAL_INFO_CHECK)
		VALUES(SEQ_EMPNO.NEXTVAL, #{empId}, #{empPwd}, #{empName}, #{empBirth}, #{gender}, #{empPhone}, #{officeTel}, 
									#{address}, #{email}, DEFAULT, DEFAULT, #{otherInfo}, #{personalInfoCheck})
	</insert>
	
	<!-- 사원명으로 이메일 조회 -->
	<select id="selectEmpEmailForName" parameterType="java.lang.String" resultType="java.lang.String">
		SELECT EMAIL
		FROM EMPLOYEE
		WHERE EMP_NAME LIKE '%' || #{ sName } || '%'
		AND STATUS = 'Y'
	</select>

	<select id="selectDeptList" resultMap="deptResult">
		SELECT DEPT_CODE, DEPT_NAME, TOP_DEPT, MANAGER_EMPNO
		FROM DEPT
	</select>
	
	<insert id="insertEmpQuick" parameterType="Employee">
		INSERT INTO EMPLOYEE(EMPNO, EMP_ID, EMP_PWD, EMP_NAME, EMP_PHONE, OFFICE_TEL, STATUS, ENROLL_DATE)
		VALUES(SEQ_EMPNO.NEXTVAL, #{empId}, #{empPwd}, #{empName}, #{empPhone}, #{officeTel},DEFAULT,DEFAULT)
	</insert>
	
	<insert id="insertDeptHistory" parameterType="DeptVo">
		INSERT INTO DEPT_HISTORY(DH_NO, EMPNO, MODIFY_DATE,DEPT_CODE)
		VALUES(SEQ_DH_NO.NEXTVAL,SEQ_EMPNO.CURRVAL,SYSDATE,#{deptCode})
	
	</insert>
	
	<select id="selectEmpListAdmin" resultMap="empListResult">
		select E.EMPNO, E.EMP_ID, E.EMP_NAME, D.DEPT_NAME, J.JOB_NAME, E.OFFICE_TEL, E.EMP_PHONE, E.STATUS
		FROM EMPLOYEE E
		LEFT JOIN promotion_history PH ON(E.EMPNO=PH.EMPNO)
		LEFT JOIN JOB J ON(ph.job_code=J.JOB_CODE)
		LEFT JOIN DEPT_HISTORY DH ON (E.EMPNO=DH.EMPNO)
		LEFT JOIN DEPT D ON (DH.DEPT_CODE=D.DEPT_CODE)
		WHERE E.STATUS='Y' AND E.EMP_ID != 'admin'
	</select>
	
	<select id="selectJobAdmin" resultMap="jobList">
		SELECT JOB_CODE, JOB_NAME, JOB_LEVEL
		FROM JOB
	</select>
	
	<insert id="insertJobHistory" parameterType="JobVo">
		INSERT INTO PROMOTION_HISTORY(PH_NO, EMPNO, MODIFY_DATE,JOB_CODE)
		VALUES(SEQ_PH_NO.NEXTVAL,SEQ_EMPNO.CURRVAL,SYSDATE,#{jobCode})
	</insert>
	
	<insert id="insertEmpProfile" parameterType="Attachment">
		INSERT INTO ATTACHMENT (ATTACHMENT_NO, ORIGIN_NAME, CHANGE_NAME, FILEPATH, FILE_TYPE, EMPNO)
		VALUES(SEQ_ATTACHMENT_NO.NEXTVAL, #{originName},#{changeName},#{filePath},'ProfileImage',SEQ_EMPNO.CURRVAL)
	</insert>
	
	
	
</mapper>
