<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="ExcelEmp">
	<resultMap id="excelemp" type="com.kh.lgtw.employee.model.vo.ExcelEmp">
		<id column="EMPNO" property="empNo"/>
		<result column="EMP_ID" property="empId"/>
		<result column="EMP_PWD" property="empPwd"/>
		<result column="EMP_NAME" property="empName"/>
		<result column="EMP_PHONE" property="empPhone"/>
		<result column="STATUS" property="status"/>
		<result column="ENROLL_DATE" property="enrollDate"/>
	</resultMap>

	<insert id="insertEmpExcel" parameterType="excelemp">
	  	INSERT INTO EMPLOYEE(EMPNO, EMP_ID, EMP_PWD, EMP_NAME, EMP_PHONE, STATUS, ENROLL_DATE)
	  	VALUES (SEQ_EMPNO.NEXTVAL,#{empId},#{empPwd},#{empName},#{empPhone},#{status},#{enrollDate})
  </insert> 
	
	
	
</mapper>
