<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="Mail">
	<resultMap type="com.kh.lgtw.mail.model.vo.Mail" id="resultMailSet">
		<id property="mailNo" column="Mail_No"/>
		<result property="mTitle" column="MTITLE"/>
		<result property="mContent" column="MCONTENT"/>
		<result property="sendMail" column="SEND_MAIL"/>
		<result property="reciveMail" column="RECIVE_MAIL"/>
		<result property="dStatus" column="DSTATUS"/>
		<result property="sendDate" column="SEND_DATE"/>
		<result property="rStatus" column="RSTATUS"/>
		<result property="mailType" column="MAIL_TYPE"/>
		<result property="mSize" column="MSIZE"/>
		<result property="reservationCheck" column="RESERVATION_CHECK"/>
		<result property="reservationDate" column="RESERVATION_DATE"/>
		<result property="reservationTime" column="RESERVATION_TIME"/>
	</resultMap>
	
	<!-- 쿼리문 -->
	<!-- 페이징-리스트 갯수 조회 -->
	<select id="getMailListCount" resultType="_int">
		SELECT COUNT(*)
		FROM MAIL
		WHERE DSTATUS = 'N' 
	</select>
	
	<!-- 메일 리스트 조회 -->
	<select id="selectMailList" parameterType="PageInfo" resultMap="resultMailSet">
		SELECT * 
		FROM MAIL 
		WHERE DSTATUS = 'N'
	</select>
	
	<!-- 읽음 상태 수정 -->
	<update id="updateReadStatus">
		UPDATE MAIL
		SET RSTATUS = 'Y'
		WHERE MAIL_NO = #{ mailNo }
	</update>
	
	<!-- 삭제 상태 수정 -->
	<update id="updateDeleteStatus">
		UPDATE MAIL
		SET DSTATUS = 'Y'
		WHERE MAIL_NO = #{ mailNo }
	</update>
	
	<!-- 메일 상세 페이지 조회 -->
	<select id="selectMailDetail" parameterType="int" resultMap="resultMailSet">
		SELECT *
		FROM MAIL 
		WHERE DSTATUS = 'N'
		AND MAIL_NO = #{ mailNo }
	</select>
	
</mapper>
