<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="Scheduler">
	<resultMap type="Scheduler" id="schedulerResultSet">
		<id property="schedulerNo" column="SCHEDULER_NO"/>
		<result property="schedulerName" column="SCHEDULER_NAME"/>
		<result property="schedulerType" column="SCHEDULER_TYPE"/>
		<result property="createEmpNo" column="CREATE_EMPNO"/>
		<result property="schedulerColor" column="SCHEDULER_COLOR"/>
	</resultMap>
	
	<resultMap type="Schedule" id="scheduleResultSet">
		<id property="scheduleNo" column="SCHEDULE_NO"/>
		<result property="startDate" column="START_DATE"/>
		<result property="endDate" column="END_DATE"/>
		<result property="startTime" column="START_TIME"/>
		<result property="endTime" column="END_TIME"/>
		<result property="scheduleName" column="SCHEDULE_NAME"/>
		<result property="scheduleContent" column="SCHEDULE_CONTENT"/>
		<result property="status" column="STATUS"/>
		<result property="writer" column="WRITER"/>
		<result property="createDate" column="CREATE_DATE"/>
		<result property="modifyDate" column="MODIFY_DATE"/>
		<result property="schedulerNo" column="SCHEULER_NO"/>
		<collection property="schedulerList" javaType="java.util.ArrayList" resultMap="schedulerResultSet"></collection>
	</resultMap>
	

	<!-- 쿼리문 영역 -->
	<!-- 개인캘린더 추가 쿼리문 -->
	<insert id="insertMemberScheduler" parameterType="Scheduler">
		INSERT INTO SCHEDULER
		VALUES(SEQ_SCHEDULER_NO.NEXTVAL, #{schedulerName}, '개인', #{createEmpNo}, #{schedulerColor})
	</insert>
	
	<!-- 캘린더 리스트 조회용 쿼리문 -->
	<select id="selectSchedulerList" parameterType="_int" resultMap="schedulerResultSet">
		SELECT SC.SCHEDULER_NO, SC.SCHEDULER_NAME
		FROM SCHEDULER SC
		LEFT JOIN GROUP_MEMBER GM ON (SC.SCHEDULER_NO = GM.SCHEDULER_NO)
		WHERE SC.CREATE_EMPNO = #{empNo}
		OR (GM.EMPNO = #{empNo} AND GM.AUTHORITY = 'Y')
	</select>
	
	<!-- 일정추가 쿼리문 -->
	<insert id="insertSchedule" parameterType="Schedule">
		INSERT INTO SCHEDULE
		VALUES(SEQ_SCHEDULE_NO.NEXTVAL, #{startDate}, #{endDate}, #{startTime}, #{endTime},
		       #{scheduleName}, #{scheduleContent}, 'Y', #{writer}, SYSDATE, SYSDATE, #{schedulerNo})
	</insert>
	
	<!-- 일정 상세보기용 쿼리문 -->
	<select id="selectScheduleDetail" parameterType="Schedule" resultMap="scheduleResultSet">
		SELECT *
		FROM SCHEDULE SC
		JOIN SCHEDULER SCR ON (SC.SCHEDULER_NO = SCR.SCHEDULER_NO)
		WHERE WRITER = #{writer}
		AND SC.SCHEDULE_NO = #{scheduleNo}
	</select>
	
	
</mapper>
 