<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="Scheduler">
	<resultMap type="Scheduler" id="schedulerResultSet">
		<id property="schedulerNo" column="SCHEDULER_NO"/>
		<result property="schedulerName" column="SCHEDULER_NAME"/>
		<result property="schedulerType" column="SCHEDULER_TYPE"/>
		<result property="createEmpNo" column="CREATE_EMPNO"/>
		<result property="schedulerColor" column="SCHEDULER_COLOR"/>
		<result property="status" column="STATUS"/>
	</resultMap>
	
	<resultMap type="GroupMember" id="groupMemberResultSet">
		<id property="invitationNo" column="INVITATION_NO"/>
		<result property="schedulerNo" column="SCHEDULER_NO"/>
		<result property="empNo" column="EMPNO"/>
		<result property="authority" column="AUTHORITY"/>
	</resultMap>
	
	<resultMap type="Schedule" id="scheduleResultSet">
		<id property="scheduleNo" column="SCHEDULE_NO"/>
		<result property="startDate" column="START_DATE"/>
		<result property="endDate" column="END_DATE"/>
		<result property="startTime" column="START_TIME"/>
		<result property="endTime" column="END_TIME"/>
		<result property="scheduleName" column="SCHEDULE_NAME"/>
		<result property="scheduleContent" column="SCHEDULE_CONTENT"/>
		<result property="status" column="STATUS"/>
		<result property="writer" column="WRITER"/>
		<result property="createDate" column="CREATE_DATE"/>
		<result property="modifyDate" column="MODIFY_DATE"/>
		<result property="schedulerNo" column="SCHEULER_NO"/>
		<collection property="schedulerList" javaType="java.util.ArrayList" resultMap="schedulerResultSet"></collection>
	</resultMap>
	
	<resultMap type="Schedule" id="allResultSet">
		<id property="scheduleNo" column="SCHEDULE_NO"/>
		<result property="startDate" column="START_DATE"/>
		<result property="endDate" column="END_DATE"/>
		<result property="startTime" column="START_TIME"/>
		<result property="endTime" column="END_TIME"/>
		<result property="scheduleName" column="SCHEDULE_NAME"/>
		<result property="scheduleContent" column="SCHEDULE_CONTENT"/>
		<result property="status" column="STATUS"/>
		<result property="writer" column="WRITER"/>
		<result property="createDate" column="CREATE_DATE"/>
		<result property="modifyDate" column="MODIFY_DATE"/>
		<result property="schedulerNo" column="SCHEULER_NO"/>
		<collection property="schedulerList" javaType="java.util.ArrayList" resultMap="schedulerResultSet"></collection>
		<collection property="groupList" javaType="java.util.ArrayList" resultMap="groupMemberResultSet"></collection>
	</resultMap>
	
	
	

	<!-- 쿼리문 영역 -->
	<!-- 개인캘린더 목록 조회용 -->
	<select id="selectEmpSc" resultMap="schedulerResultSet" parameterType="_int">
		SELECT *
		FROM SCHEDULER
		WHERE CREATE_EMPNO = #{empNo}
		AND SCHEDULER_TYPE = '개인'
	</select>
	
	<!-- 공유캘린더 목록 조회용 -->
	<select id="selectGpSc" resultMap="schedulerResultSet" parameterType="_int">
		SELECT *
		FROM SCHEDULER SCR
		JOIN GROUP_MEMBER GM ON (SCR.SCHEDULER_NO = GM.SCHEDULER_NO)
		WHERE SCR.SCHEDULER_TYPE = '공용'
		AND GM.EMPNO = #{empNo}
	</select>
	
	<!-- 일정 목록 조회용 -->
	<select id="selectSc" resultMap="scheduleResultSet" parameterType="_int">
		SELECT *
		FROM SCHEDULE SC
		LEFT JOIN SCHEDULER SCR ON (SC.SCHEDULER_NO = SCR.SCHEDULER_NO)
		WHERE SCR.SCHEDULER_TYPE = '개인'
		AND SC.WRITER = #{empNo}
		AND SC.STATUS = 'Y'
		
		UNION
		
		SELECT SC.*, SCR.*
		FROM SCHEDULE SC
		LEFT JOIN SCHEDULER SCR ON (SC.SCHEDULER_NO = SCR.SCHEDULER_NO)
		LEFT JOIN GROUP_MEMBER GM ON (SCR.SCHEDULER_NO = GM.SCHEDULER_NO)
		WHERE SC.STATUS = 'Y'
		AND SCR.SCHEDULER_TYPE = '공용'
		AND GM.EMPNO = #{empNo}
	</select>
	
	<!-- 개인캘린더 추가 쿼리문 -->
	<insert id="insertMemberScheduler" parameterType="Scheduler">
		INSERT INTO SCHEDULER
		VALUES(SEQ_SCHEDULER_NO.NEXTVAL, #{schedulerName}, '개인', #{createEmpNo}, #{schedulerColor}, DEFAULT)
	</insert>
	
	<!-- 개인캘린더 수정 쿼리문 -->
	<update id="updateEmpScheduler" parameterType="Scheduler">
		UPDATE SCHEDULER
		SET SCHEDULER_NAME = #{schedulerName}, SCHEDULER_COLOR = #{schedulerColor}
		WHERE SCHEDULER_NO = #{schedulerNo}
	</update>
	
	<!-- 개인캘린더 삭제 시 일정 완전삭제 쿼리문 -->
	<delete id="deleteScheduler1" parameterType="Scheduler">
		DELETE FROM SCHEDULE
		WHERE SCHEDULER_NO = #{schedulerNo}
	</delete>
	
	<!-- 개인캘린더 삭제 -->
	<delete id="deleteScheduler2" parameterType="Scheduler">
		DELETE FROM SCHEDULER
		WHERE SCHEDULER_NO = #{schedulerNo}
	</delete>
	
	<!-- 캘린더 리스트 조회용 쿼리문 -->
	<select id="selectSchedulerList" parameterType="_int" resultMap="schedulerResultSet">
		SELECT SC.SCHEDULER_NO, SC.SCHEDULER_NAME
		FROM SCHEDULER SC
		LEFT JOIN GROUP_MEMBER GM ON (SC.SCHEDULER_NO = GM.SCHEDULER_NO)
		WHERE SC.CREATE_EMPNO = #{empNo}
		OR (GM.EMPNO = #{empNo} AND GM.AUTHORITY = 'Y')
	</select>
	
	<!-- 일정추가 쿼리문 -->
	<insert id="insertSchedule" parameterType="Schedule">
		INSERT INTO SCHEDULE
		VALUES(SEQ_SCHEDULE_NO.NEXTVAL, #{startDate}, #{endDate}, #{startTime}, #{endTime},
		       #{scheduleName}, #{scheduleContent}, 'Y', #{writer}, SYSDATE, SYSDATE, #{schedulerNo})
	</insert>
	
	<!-- 일정 상세보기용 쿼리문 -->
	<select id="selectScheduleDetail" parameterType="Schedule" resultMap="allResultSet">
		SELECT *
		FROM SCHEDULE SC
		LEFT JOIN SCHEDULER SCR ON (SC.SCHEDULER_NO = SCR.SCHEDULER_NO)
		LEFT JOIN GROUP_MEMBER GM ON (SCR.SCHEDULER_NO = GM.SCHEDULER_NO)
		WHERE WRITER = #{writer}
		AND SC.SCHEDULE_NO = #{scheduleNo}
	</select>
	
	<!-- 일정 삭제용 쿼리문 -->
	<update id="deleteSchedule" parameterType="Schedule">
		UPDATE SCHEDULE
		SET STATUS = 'N'
		WHERE SCHEDULE_NO = #{scheduleNo}
	</update>
	
	<!-- 일정 수정용 쿼리문 -->
	<update id="updateSchedule" parameterType="Schedule">
		UPDATE SCHEDULE
		SET SCHEDULE_NAME = #{scheduleName}, START_DATE = #{startDate}, END_DATE = #{endDate},
		    START_TIME = #{startTime}, END_TIME = #{endTime}, SCHEDULE_CONTENT = #{scheduleContent},
		    MODIFY_DATE = SYSDATE
		WHERE SCHEDULE_NO = #{scheduleNo}
	</update>
	
	<!-- 드랍 이벤트로 인한 일정 수정용 쿼리문 -->
	<update id="dropEventUpdate" parameterType="Schedule">
		UPDATE SCHEDULE
		SET START_DATE = #{startDate}, END_DATE = #{endDate}, MODIFY_DATE = SYSDATE
		WHERE SCHEDULE_NO = #{scheduleNo}
	</update>
	
	<!-- 드래그 이벤트로 인한 일정 수정용 쿼리문 -->
	<update id="dragEventUpdate" parameterType="Schedule">
		UPDATE SCHEDULE
		SET END_DATE = #{endDate}, MODIFY_DATE = SYSDATE
		WHERE SCHEDULE_NO = #{scheduleNo}
	</update>
	
</mapper>
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 