<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="Scheduler">
	<!-- <resultMap id="내가쓸 이름" type="vo풀네임">
		<id column="" property="PK"/>
		<result column="" property="필드 명"/>
	</resultMap> -->
	
	<!-- 쿼리문 영역 -->
	<insert id="insertMemberScheduler" parameterType="Scheduler">
		INSERT INTO SCHEDULER
		VALUES(SEQ_SCHEDULER_NO.NEXTVAL, #{schedulerName}, '개인', 0, #{schedulerColor})
	</insert>
</mapper>
 